<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnterpriseArchitectAutoRefresh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnterpriseArchitectAutoRefresh.Properties.Settings>
            <setting name="refreshInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="tablePrefix" serializeAs="String">
                <value>ht_</value>
            </setting>
            <setting name="showAlertFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mappedTables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>t_attribute</string>
                        <string>t_attributetag</string>
                        <string>t_connector</string>
                        <string>t_diagram</string>
                        <string>t_diagramlinks</string>
                        <string>t_diagramobjects</string>
                        <string>t_object</string>
                        <string>t_operation</string>
                        <string>t_operationparams</string>
                        <string>t_package</string>
                    </ArrayOfString>
                </value>
            </setting>
        </EnterpriseArchitectAutoRefresh.Properties.Settings>
    </userSettings>
</configuration>